<div class="container-fluid">
  <label for="">Searchs</label>
  <div class="row search mb-2 text-center">
    <div class="col-sm-2 align-middle">
      Name
      <input type="text"   class="form-control"placeholder="Enter to search" #inputName (keyup.enter)="searchByFieldValue('name',inputName.value)">
    </div>
    <div class="col-sm-2 align-middle">
      Surname
      <input type="text" class="form-control" placeholder="Enter to search" #inputSurname (keyup.enter)="searchByFieldValue('surname',inputSurname.value)">
    </div>
    <div class="col-sm-2 align-middle">
      Email
      <input type="text" class="form-control"  placeholder="Enter to search" #inputEmail (keyup.enter)="searchByFieldValue('email',inputEmail.value)">
    </div>
    <div class="col-sm-2 align-middle">
      Phone
      <input type="text" class="form-control"  placeholder="Enter to search" #inputPhone (keyup.enter)="searchByFieldValue('phone',inputPhone.value)">
    </div>
    <div class="col-sm-2 align-middle">
      Rating from 1 to 10
      <input type="text" class="form-control" placeholder="Enter to search" #inputRating (keyup.enter)="searchByFieldValue('rating',inputRating .value)">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-center d-flex inline text-center justify-content-end">

      <label for="" class="form-label  align-middle">Date of interview:</label>
      <div class="col-sm-4">
        from
        <input type="date" class="form-control" #dateFrom >
      </div>
      <div class="col-sm-4">
        to
        <input type="date" class="form-control" #dateTo>
      </div>
      <div class="col-sm-2 ">
        <button type="button" (click)="searchByDate(dateFrom.value , dateTo.value)" class="btn btn-success mt-4">Search by Date</button>
      </div>
    </div>
  </div>
  <div class="row header mb-2 text-center">
    <div class="col-sm-1 align-middle">
      <!-- <label for="requestName">Nombre: </label> -->
      <span id="requestName"> Name </span>
    </div>
    <div class="col-sm-1 align-middle">
      <!-- <label for="requestMail">Correo:</label> -->
      <span id="requestaMail align-middle">
        Surname
      </span>
    </div>
    <div class="col-sm-2 align-middle">
      Email
    </div>
    <div class="col-sm-2 align-middle">
      Phone
    </div>
    <div class="col-sm-2 align-middle">
      Date of interview
    </div>
    <div class="col-sm-2 align-middle">
      Rating from 1 to 10
    </div>
    <div class="col-sm-2">
      Actions
    </div>
  </div>

  <div class="row mt-2 sombra" *ngFor="let candidate of candidatesAll">
    <div class="col-sm-1  text-center ">
      <!-- <label for="requestName">Nombre: </label> -->
      {{ candidate.name }}
    </div>
    <div class="col-sm-1 text-center">
      <!-- <label for="requestMail">Correo:</label> -->
      {{ candidate.surname }}
    </div>
    <div class="col-sm-2 text-center">
      {{ candidate.email }}
    </div>
    <div class="col-sm-2 text-center">
      {{ candidate.phone }}
    </div>
    <div class="col-sm-2 text-center">
      {{ candidate.date_interview }}
    </div>
    <div class="col-sm-2 text-center">
      {{ candidate.rating }}
    </div>
    <div class="col-sm-2 text-center">
      <!-- <button  mat-fab color="primary" aria-label="Example icon button with a delete icon">Asignar</button> -->
      <button type="button" title="edit" routerLink="../candidates/{{candidate.id}}" class="btn btn-primary btn-sm round far fa-edit "></button>
      <button type="button" title="Delete" (click)="deleteCandidate(candidate)" class="btn btn-danger  btn-small round fas fa-trash-alt mx-1"></button>

    </div>
  </div>
</div>
